<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="controls">
    <h3>Параметры</h3>
    <label><input type="checkbox" value="temperature"> Температура</label>
    <label><input type="checkbox" value="wind_speed"> Скорость ветра</label>
    <label><input type="checkbox" value="wind_direction"> Направление ветра</label>
    <label><input type="checkbox" value="precipitation"> Осадки</label>

    <button id="getForecast">Получить прогноз</button>
</div>

<div id="map"></div>

<pre id="output"></pre>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
